<mat-grid-list cols="{{cardCol}}" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="activity-card">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="activity-card">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="activity-card">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="activity-card">
      <div class="activity-card-content">
        <div class="activity-card-name">
          <a>name: asdsadasdasdsa asdsadasdasdsa</a>
        </div>
        <div class="activity-card-desc">
          <a>detail: asdsadsad asdsd sdasd sdsa sdw s asd asdas sdasd asdsadsad asdsd sdasd sdsa sdw s asd asdas sdasd asdsadsad asdsd sdasd sdsa sdw s asd asdas sdasd asdsadsad asdsd sdasd sdsa sdw s asd asdas sdasd</a>
        </div>
        <div class="activity-card-data">
          <a>date ss2 221 223 111</a>
          <a>hour 222</a>
          <a>student: 22</a>
        </div>
      </div>
      <div class="activity-detail-button">
        <button mat-raised-button>Detail</button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
