<div class="row flex-row">
  <div class="col justify-content-start">
    <h1 class="display-4">My Activity</h1>
  </div>

  <div *ngIf="authService.currentUser.isAdmin" class="col justify-content-end text-right">
    <div class="row d-flex">
      <div class="col d-flex p-0 justify-content-end">
        <mat-form-field>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-1 d-flex p-0 text-left">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
</div>

<!-- USER -->
<app-activity-status *ngIf="!authService.currentUser.isAdmin"></app-activity-status>

<!-- Admin -->
<app-activity *ngIf="authService.currentUser.isAdmin"></app-activity>

