<h1 class="display-4" style="font-size: 2rem; font-weight: bold;">Administrator Registration</h1>
<form [formGroup]="registerForm" class="d-flex flex-column justify-content-center">
  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email" type="text">
    <mat-error
      *ngIf="registerForm.controls['email'].hasError('required') || registerForm.controls['email'].hasError('email')">
      Require email.
    </mat-error>
    <mat-error *ngIf="registerForm.controls['email'].hasError('emailUsed')">
      This email have already been used.
    </mat-error>
  </mat-form-field>
  <div class="d-flex flex-row justify-content-left">
    <mat-form-field>
      <input formControlName="fname" matInput placeholder="First Name" type="text">
      <mat-error *ngIf="registerForm.controls['fname'].hasError('required')">
        Require first name.
      </mat-error>
    </mat-form-field>
    <div class="col-1"></div>
    <mat-form-field>
      <input formControlName="lname" matInput placeholder="Last Name" type="text">
      <mat-error *ngIf="registerForm.controls['lname'].hasError('required')">
        Require last name.
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password" type="password">
    <mat-error
      *ngIf="registerForm.controls['password'].hasError('minlength') || registerForm.controls['password'].hasError('required')">
      Require at least 8 characters.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password_confirmation" matInput placeholder="Confirm Password" type="password">
    <mat-error
      *ngIf="registerForm.controls['password_confirmation'].hasError('passNotMatch') || registerForm.controls['password_confirmation'].hasError('required')">
      Confirm password is not match.
    </mat-error>
  </mat-form-field>
  <button (click)="onRegister()" [disabled]="registerForm.invalid" color="primary" mat-raised-button
          style="margin-bottom: 0.5rem;">Register
  </button>
</form>
<a [routerLink]="['/auth']">Login</a>
