.panel{
    text-align: center;
    margin: auto;
    width: 30rem;
    max-width: 30rem;
    height: 33rem;
    max-height: 33rem;
    border-radius: 1rem;
}
.home{
    text-align: center;
    /* width: 100%; */
    display: inline;
}
.display-4{
    margin-bottom: 2rem;
}