<div class="content">
  <mat-nav-list>
    <mat-list-item routerLink = "/activity/faculty" class="border rounded-sm row align-items-center">
      <div class="col text-left">
        <h1 class="display-3">Faculty</h1>
      </div>
      <div class="col text-right">
        <div class="d-flex flex-row justify-content-end">
          <h1 class="display-3">2/30 hour</h1>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item routerLink = "/activity/major" class="border rounded-sm row align-items-center">
        <div class="col text-left">
          <h1 class="display-3">Major</h1>
        </div>
        <div class="col text-right">
          <div class="d-flex flex-row justify-content-end">
            <h1 class="display-3">2/30 hour</h1>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item routerLink = "/activity/other"  class="border rounded-sm row align-items-center">
          <div class="col text-left">
            <h1 class="display-3">Other</h1>
          </div>
          <div class="col text-right">
            <div class="d-flex flex-row justify-content-end">
              <h1 class="display-3">2/30 hour</h1>
            </div>
          </div>
        </mat-list-item>
  </mat-nav-list>

</div>