<h1 class="display-4" style="font-size: 2rem; font-weight: bold;">login</h1>
<mat-icon>account_circle</mat-icon>
<form [formGroup]="loginForm" class="d-flex flex-column justify-content-center">
    <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onLogin()" style="margin-bottom: 0.5rem;">login</button>
</form>
<a [routerLink]="['/register']">register</a>