<mat-drawer-container class="sideNavContainer" autosize>
    <mat-drawer #drawer class="sideDrawer" mode="side">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <h1 class="display-4" *ngIf="authService.currentUser">{{authService.currentUser.sid}}</h1>
        <h1 class="display-4" *ngIf="authService.currentUser">{{authService.currentUser.name}}</h1>
        <div class="d-flex flex-column">
            <button mat-raised-button routerLink='/dashboard' routerLinkActive="is-active" >My Activity</button>
            <button mat-raised-button routerLink='/setting' routerLinkActive="is-active" *ngIf="authService.currentUser.isAdmin">Activity Setting</button>
            <button mat-raised-button color="warn" (click)="onLogout()">Logout</button>
        </div>

    </mat-drawer>
    <mat-drawer-content class="content">

        <nav class="navbar">
            <div class="container-fluid">
                <div class="nav-header">
                    <button disableRipple type="button" mat-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </nav>
        <div class="content-box">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>